   <link rel="stylesheet" href="/styles/home.css" media="screen" title="no title" charset="utf-8">
   
    <!-- navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav">
        <a class="navbar-brand" href="#"><img src="https://img.icons8.com/nolan/40/toilet-bowl.png">Splash & Dash</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Host <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup.handlebars">Sign up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sign in</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- navigation bar ends -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12"> </div>
            
            <!-- this card should float left on top of the background img -->
            <div class="card-1" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Find a Toilet</h5>

                    <input class="form-control mr-sm-2" type="search" placeholder="where..." aria-label="Search" id="search-input">

                    <br>

                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="search-btn">Search</button>
                </div>
            </div>
        </div>
        
         <div class="row">
            <div class="col-md-12"> </div>
            
            <!-- this card should float left on top of the background img -->
            <div class="card-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Available Toilets</h5>

                    {{!-- Creating a table to append the database information into from the ajax call --}}

                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th scope="col">#</th>
                            <th scope="col">Host</th>
                            <th scope="col">Address</th>
                            <th scope="col">Amenities</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>

                    <br>
                    
                    <a href="/example"><button class="btn btn-outline-success my-2 my-sm-0" type="input" id="view-btn">View</button></a>
                </div>
            </div>
        </div>

        

    </div>

    <br>

    {{!-- Page Footer --}}
    <footer class="page-footer" id="page-footer">
        <div class="container" id="footer-div">
            <h6 id="copyright">© 2020 | Splash ~ N ~ Dash</h6>
        </div>
            
    </footer>
    <!-- end of container -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
