.list-group-item {
    line-height: 2.5;
  }
  body {
  background-image: url("/img/nicebathroom.jpg");
  background-size: cover;
  }
  .navbar {
    opacity: .5;
  }
  .footer {
    text-align: center;
    /* background-color: #ffffff80; */
  }

.card-3 {
    box-shadow: 0 0 80px lighten(rgb(255, 255, 255), 60%);
        
    background: #ffffff80!important;
    border-radius: 4px !important;
    width: 508px !important;
    padding: 32px !important;
    margin-bottom: 16px !important;
    margin-top: 120px;
    margin-left: 60px;
    opacity: .9;
  }  